<!--
<mat-card apperance="example-card">
    <mat-card-header>
            <h1> User Registration</h1>
    </mat-card-header>

    <mat-card-content>
            <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregistration()">
                <mat-form-field class="full-width">
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="Username" [(ngModel)]="name" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password </mat-label>
                    <input matInput placeholder="Password" [(ngModel)]="password" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" [(ngModel)]="email" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Role</mat-label>
                    <input matInput placeholder="Role" [(ngModel)]="role" required>
                </mat-form-field>
             
                <selection class="example-section">
                        <label class="example-margin">Gender:</label>
                        <mat-radio-group [(ngModel)] ="gender">
                            <mat-radio-button class="example-margin" value="after"> Male</mat-radio-button>
                            <mat-radio-button class="example-margin" value="before"> Female</mat-radio-button>
                            <mat-radio-button class="example-margin" value="after"> Other</mat-radio-button>
                        </mat-radio-group>
                </selection>
                <mat-card-actions>
                        <mat-card-content>
                                <button mat-raised-botton (click)="onclickRegister" color="primary">Register</button>
                        </mat-card-content>
                </mat-card-actions>
            </form>
    </mat-card-content>
    

    
    
</mat-card>-->